.fz-m-6 {
    font-size: .12rem;
}
.fz-m-7 {
    font-size: .14rem;
}
.fz-m-8 {
    font-size: .16rem;
}
.fz-m-9 {
    font-size: .18rem;
}
.fz-m-10 {
    font-size: .20rem;
}
.fz-m-11 {
    font-size: .22rem;
}
.fz-m-12 {
    font-size: .24rem;
}
.fz-m-13 {
    font-size: .26rem;
}
.fz-m-14 {
    font-size: .28rem;
}
.fz-m-15 {
    font-size: .30rem;
}
.fz-m-16 {
    font-size: .32rem;
}
.fz-m-17 {
    font-size: .34rem;
}
.fz-m-18 {
    font-size: .36rem;
}
.fz-m-19 {
    font-size: .38rem;
}
.fz-m-20 {
    font-size: .40rem;
}
.fz-m-21 {
    font-size: .42rem;
}
.fz-m-22 {
    font-size: .44rem;
}
.fz-m-23 {
    font-size: .46rem;
}
.fz-m-24 {
    font-size: .48rem;
}
.fz-m-25 {
    font-size: .50rem;
}
.fz-m-26 {
    font-size: .52rem;
}

.mr-r-10 {
    margin-right: .1rem;
}
.mr-r-20 {
    margin-right: .2rem;
}
.mr-r-30 {
    margin-right: .3rem;
}
.mr-r-40 {
    margin-right: .4rem;
}

.mr-t-10 {
    margin-top: .1rem;
}
.mr-t-20 {
    margin-top: .2rem;
}
.mr-t-30 {
    margin-top: .3rem;
}
.mr-t-40 {
    margin-top: .4rem;
}
.mr-t-50 {
    margin-top: .5rem;
}

.mr-l-10 {
    margin-left: .1rem;
}
.mr-l-16 {
    margin-left: .16rem;
}
.mr-l-20 {
    margin-left: .2rem;
}
.mr-l-30 {
    margin-left: .3rem;
}
.mr-l-40 {
    margin-left: .4rem;
}
.mr-l-50 {
    margin-left: .5rem;
}

.mr-b-10 {
    margin-bottom: .1rem;
}
.mr-b-20 {
    margin-bottom: .2rem;
}
.mr-b-30 {
    margin-bottom: .3rem;
}
.mr-b-40 {
    margin-bottom: .4rem;
}
.mr-b-50 {
    margin-bottom: .5rem;
}